ESP32_MATLAB.json
[
    {
        "id": "cf907a61afdf1903",
        "type": "tab",
        "label": "ESP32+MATLAB",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4637455a2e9b367f",
        "type": "mqtt in",
        "z": "cf907a61afdf1903",
        "name": "",
        "topic": "ESP/Matlab/Out",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "4e2a9797aa584475",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 140,
        "wires": [
            [
                "83d9d5c45e10497e",
                "0783ede62d591f0b"
            ]
        ]
    },
    {
        "id": "83d9d5c45e10497e",
        "type": "debug",
        "z": "cf907a61afdf1903",
        "name": "debug 27",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 140,
        "wires": []
    },
    {
        "id": "07c6c3d77758192b",
        "type": "mqtt out",
        "z": "cf907a61afdf1903",
        "name": "",
        "topic": "ESP/Matlab/LEDR",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4e2a9797aa584475",
        "x": 390,
        "y": 360,
        "wires": []
    },
    {
        "id": "1ee4b05144c6fa97",
        "type": "function",
        "z": "cf907a61afdf1903",
        "name": "Date",
        "func": "// Crear un objeto DATE a partir del payload enviado por\n// el timestamp\nvar date = new Date(msg.payload);\n\n//Cambiar al payload para que sea una fecha con formato\nmsg.payload = date.toString();\n\n//Regresa el mensaje para que se envie al siguiente nodo\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "0783ede62d591f0b",
        "type": "ui_chart",
        "z": "cf907a61afdf1903",
        "name": "",
        "group": "0182f024319f6518",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "3.5",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 450,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "f813ff79c5bd9b48",
        "type": "ui_switch",
        "z": "cf907a61afdf1903",
        "name": "",
        "label": "LED Rojo",
        "tooltip": "",
        "group": "e0c145289222ab1f",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 180,
        "y": 360,
        "wires": [
            [
                "07c6c3d77758192b"
            ]
        ]
    },
    {
        "id": "74f11ec32a5eb51b",
        "type": "debug",
        "z": "cf907a61afdf1903",
        "name": "debug 28",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 340,
        "wires": []
    },
    {
        "id": "b7e950d7d2e2db99",
        "type": "ui_switch",
        "z": "cf907a61afdf1903",
        "name": "",
        "label": "LED Amarillo",
        "tooltip": "",
        "group": "e0c145289222ab1f",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 190,
        "y": 420,
        "wires": [
            [
                "2deff4656927c973"
            ]
        ]
    },
    {
        "id": "6f4f2e3f447a16c6",
        "type": "ui_switch",
        "z": "cf907a61afdf1903",
        "name": "",
        "label": "LED Verde",
        "tooltip": "",
        "group": "e0c145289222ab1f",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 190,
        "y": 460,
        "wires": [
            [
                "70cf04383fd2179a"
            ]
        ]
    },
    {
        "id": "2deff4656927c973",
        "type": "mqtt out",
        "z": "cf907a61afdf1903",
        "name": "",
        "topic": "ESP/Matlab/LEDA",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4e2a9797aa584475",
        "x": 390,
        "y": 420,
        "wires": []
    },
    {
        "id": "70cf04383fd2179a",
        "type": "mqtt out",
        "z": "cf907a61afdf1903",
        "name": "",
        "topic": "ESP/Matlab/LEDV",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4e2a9797aa584475",
        "x": 390,
        "y": 460,
        "wires": []
    },
    {
        "id": "990cc0dced9d66cc",
        "type": "ui_text",
        "z": "cf907a61afdf1903",
        "group": "5228179c6d44730f",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 430,
        "y": 520,
        "wires": []
    },
    {
        "id": "f20daed8aa0fbf0d",
        "type": "mqtt in",
        "z": "cf907a61afdf1903",
        "name": "",
        "topic": "ESP/Matlab/Contador",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "4e2a9797aa584475",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 520,
        "wires": [
            [
                "990cc0dced9d66cc",
                "a63ccc3f528eb178",
                "8c5c15ba017b40ac"
            ]
        ]
    },
    {
        "id": "a63ccc3f528eb178",
        "type": "debug",
        "z": "cf907a61afdf1903",
        "name": "debug 29",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 660,
        "wires": []
    },
    {
        "id": "8c5c15ba017b40ac",
        "type": "ui_gauge",
        "z": "cf907a61afdf1903",
        "name": "",
        "group": "c4b7316e754b4963",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Contador",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "300",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 440,
        "y": 560,
        "wires": []
    },
    {
        "id": "4e2a9797aa584475",
        "type": "mqtt-broker",
        "name": "Hive MQTT",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0182f024319f6518",
        "type": "ui_group",
        "name": "Voltaje ESP32",
        "tab": "d8d65ac598b37311",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e0c145289222ab1f",
        "type": "ui_group",
        "name": "Control de LED's",
        "tab": "d8d65ac598b37311",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5228179c6d44730f",
        "type": "ui_group",
        "name": "Contador",
        "tab": "d8d65ac598b37311",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c4b7316e754b4963",
        "type": "ui_group",
        "name": "Contador gráfica",
        "tab": "d8d65ac598b37311",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d8d65ac598b37311",
        "type": "ui_tab",
        "name": "Ciencias IoT",
        "icon": "dashboard",
        "order": 13,
        "disabled": false,
        "hidden": true
    }
]